<!DOCTYPE html>
<html lang="en">
<head>
<title>Contact Page</title>
<link rel="stylesheet" href="C:\Users\PNW_checkout\Desktop\Databases\Project\test\RemainingPages.css">
</head>
<body>
<!--navbar-->
<!--navbar-->
<div class="topbar">
  <div>
    <a href="C:\Users\PNW_checkout\Desktop\Databases\Project\test\1_Home.html">Home</a>
    <a href="C:\Users\PNW_checkout\Desktop\Databases\Project\test\1_Home.html">Start Over</a>
    <a href="C:\Users\PNW_checkout\Desktop\Databases\Project\test\7_GreatDeals.html">Great Deals</a>
    <a href="C:\Users\PNW_checkout\Desktop\Databases\Project\test\8_HelpInformationPage.html">Help/Information</a>
    <a href="C:\Users\PNW_checkout\Desktop\Databases\Project\test\10_ContactUs.html">Contact Us</a>
  </div>


<header>
  <h2>Tripmonger</h2>
</header>
<div>
<section>
 <center>
 <h1> Feel free to reach out to me for any queries at the following: <Pre>
<h2>Arbaz Mohammed</h2>
<h4>Mail at: marbaz@pnw.edu</h4>
<h4></h4>
</Pre> </h1>
 </center>
</section>
</div>

<footer>
  <p>Made By Arbaz Mohammed for Databases project</p>
</footer>

</body>
</html>

