<!DOCTYPE html>
<html lang="en">
<head>
<title>Home Page</title>
<link rel="stylesheet" href="css/mystyle.css">
</head>
<body>
<!--navbar-->
<div class="topbar">
  <div>
    <a href="1_Home">Home</a>
    <a href="1_Home">Start Over</a>
    <a href="7_GreatDeals">Great Deals</a>
    <a href="8_HelpInformationPage">Help/Information</a>
    <a href="10_ContactUs">Contact Us</a>
  </div>


<header>
  <h2>Tripmonger</h2>
</header>
<div class="LeftSection">
<article>
<center>
<pre style="text-align: center;font-size: 200%;"><h1>Find Great deals to top locations 
across the United States on 
exclusively only on Tripmonger!</h1></pre>  
<form><button type=submit formaction="7_GreatDeals">Click here for great deals!</button></form>
</center>
</article>
</div>

<div class="RightSection">
<aside>
  <article>
  <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    One Way Flights
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    Return Flights
  </label>
</div>
<form action="url">
    <label for="Departure Destination"><h1>Enter Departure Destination, Date and Time</h1></label>
<select name="DepartureD" id="Locations" required> 
  <option value=0>--Select Departure Destination--</option>
  <option value="ChicagoIL">Chicago, IL</option>
  <option value="DallasTX">Dallas, TX</option>
  <option value="NewYorkNY">NewYork City, NY</option>
  <option value="SanFransiscoCA">SanFransisco, CA</option>
</select>
      <input type="datetime-local" id="Test_DatetimeLocal">

    <h1>Enter Arrival Destination, Date and Time</h1>
<select name="ArrivalD" id="Locations" required>
  <option value=0>--Select Arrival Destination--</option>
  <option value="ChicagoIL">Chicago, IL</option>
  <option value="DallasTX">Dallas, TX</option>
  <option value="NewYorkNY">NewYork City, NY</option>
  <option value="SanFransiscoCA">SanFransisco, CA</option>
</select>
      <input type="datetime-local" id="Test_DatetimeLocal">
<br>
<button type="submit" value="Submit" formaction="2_DeparturePage">Submit</button>
<br>
<button type="reset" value="Reset">Reset</button>
</form>
    </article>
</aside>
</div>

<footer>
  <p>Made By Arbaz Mohammed for Databases project</p>
</footer>

</body>
</html>

