<!DOCTYPE html>
<html lang="en">
<head>
<title>Flight Departure Page</title>
<link rel="stylesheet" href="C:\Users\PNW_checkout\Desktop\Databases\Project\test\RemainingPages.css">
</head>
<body>
<!--navbar-->
<div class="topbar">
  <div>
    <a href="C:\Users\PNW_checkout\Desktop\Databases\Project\test\1_Home.html">Home</a>
    <a href="C:\Users\PNW_checkout\Desktop\Databases\Project\test\1_Home.html">Start Over</a>
    <a href="C:\Users\PNW_checkout\Desktop\Databases\Project\test\7_GreatDeals.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Great Deals</a>
    <a href="C:\Users\PNW_checkout\Desktop\Databases\Project\test\8_HelpInformationPage.html">Help/Information</a>
    <a href="C:\Users\PNW_checkout\Desktop\Databases\Project\test\10_ContactUs.html">Contact Us</a>
  </div>


<header>
  <h2>Tripmonger</h2>
</header>
<div class="LeftSection">
<section>
 <center>
 <h1> <Pre> Departure list </Pre> </h1>
<h4>Available Flights:</h4>
<table>
  <tr>
    <th>Departing from</th>
    <th>Arriving at</th>
    <th>Departure Time</th>
    <th>Arrival Time</th>
    <th>Cost per person</th>
  </tr>
  <tr>
    <td>City1</td>
    <td>City2</td>
    <td>Time 1</td>
    <td>Time 2</td>
    <td>Cost</td>
  </tr>
  <tr>
    <td>City1</td>
    <td>City2</td>
    <td>Time 1</td>
    <td>Time 2</td>
    <td>Cost</td>
  </tr>
  <tr>
    <td>City1</td>
    <td>City2</td>
    <td>Time 1</td>
    <td>Time 2</td>
    <td>Cost</td>
  </tr>
  <tr>
    <td>City1</td>
    <td>City2</td>
    <td>Time 1</td>
    <td>Time 2</td>
    <td>Cost</td>
  </tr>
  <tr>
    <td>City1</td>
    <td>City2</td>
    <td>Time 1</td>
    <td>Time 2</td>
    <td>Cost</td>
  </tr>
  <tr>
    <td>City1</td>
    <td>City2</td>
    <td>Time 1</td>
    <td>Time 2</td>
    <td>Cost</td>
  </tr>
</table>
 </center>
</section>
</div>
<form><center><button type=submit formaction="C:\Users\PNW_checkout\Desktop\Databases\Project\test\3_ArrivalsPage.html"><u>Go to Arrivals Page</u></button></center></form>
<footer>
  <p>Made By Arbaz Mohammed for Databases project</p>
</footer>

</body>
</html>

