<!DOCTYPE html>
<html lang="en">
<head>
<title>Ticket Quantity Page </title>
<link rel="stylesheet" href="css/RemainingPages.css">
</head>
<body>
<!--navbar-->
<div class="topbar">
  <div>
    <a href="1_Home">Home</a>
    <a href="1_Home">Start Over</a>
    <a href="7_GreatDeals">Great Deals</a>
    <a href="8_HelpInformationPage">Help/Information</a>
    <a href="10_ContactUs">Contact Us</a>
  </div>


<header>
  <h2>Tripmonger</h2>
</header>
<div>
<section>
 <center>
 <h1> <Pre> Select Ticket Quantity</Pre> </h1>
<h3>Select No. of Adults Travelling (18+)</h3>
<form action="url">
  <select name="Adult" id="Locations"> 
  <option value=0>Adult</option>
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="+10">+10</option>
</select>
<br>
<h3>Select No. of Children Travelling (>18 years)</h3>
<form action="url">
  <select name="Children" id="Locations"> 
  <option value=0>Children</option>
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="+10">+10</option>
</select>
<br>
<h3>Select No. of Senior Citizens Travelling (65+)</h3>
<form action="url">
  <select name="SeniorCitizens" id="Locations"> 
  <option value=0>Senior Citizens (>65 years)</option>
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="+10">+10</option>
</select>
<br>
<button type=submit formaction="5_LoginPage">Submit</button>
<br>
<button type="reset" value="Reset">Reset</button>
 </center>
</section>
</div>

<footer>
  <p>Made By Arbaz Mohammed for Databases project</p>
</footer>

</body>
</html>

