<!DOCTYPE html>
<html lang="en">
<head>
<title>Login Page</title>
<link rel="stylesheet" href="css/mystyle.css">
</head>
<body>
<!--navbar-->
<div class="topbar">
  <div>
    <a href="1_Home">Home</a>
    <a href="1_Home">Start Over</a>
    <a href="7_GreatDeals">Great Deals</a>
    <a href="8_HelpInformationPage">Help/Information</a>
    <a href="10_ContactUs">Contact Us</a>
  </div>


<header>
  <h2>Tripmonger</h2>
</header>
<center>
<h2>Login Form</h2>

<form action="/action_page.php" method="get">
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
<br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
        <br>
<form><center><button type=submit class="signupbtn" formaction="11_BillingPage"><u>Proceed to next Page</u></button></center></form>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
<br>
    <span class="psw"><a href="6_AccountCreationPage">Forgot password?</a></span>
<br>
<a href="6_AccountCreationPage"> Click here to Sign Up</a>
  </div>
</form>
</center>
<footer>
  <p>Made By Arbaz Mohammed for Databases project</p>
</footer>
</body>
</html>