<!DOCTYPE html>
<html lang="en">
<head>
<title>Help/Information Page</title>
<link rel="stylesheet" href="C:\Users\PNW_checkout\Desktop\Databases\Project\test\RemainingPages.css">
</head>
<body>
<!--navbar-->
<div class="topbar">
  <div>
    <a href="C:\Users\PNW_checkout\Desktop\Databases\Project\test\1_Home.html">Home</a>
    <a href="C:\Users\PNW_checkout\Desktop\Databases\Project\test\1_Home.html">Start Over</a>
    <a href="C:\Users\PNW_checkout\Desktop\Databases\Project\test\7_GreatDeals.html" >Great Deals</a>
    <a href="C:\Users\PNW_checkout\Desktop\Databases\Project\test\8_HelpInformationPage.html">Help/Information</a>
    <a href="C:\Users\PNW_checkout\Desktop\Databases\Project\test\10_ContactUs.html">Contact Us</a>
  </div>


<header>
  <h2>Tripmonger</h2>
</header>
<div>
<section>
 <center>
 <h1> <Pre> Help/Information Page </Pre> </h1>
<h2>Additional Help can be found in the below pages:</h2>
<ul>
 <li><a href="C:/Users/PNW_checkout/Desktop/Databases/Project/test/10_ContactUs.html"<u>About Us</u></a></li>
 <li><a href="C:/Users/PNW_checkout/Desktop/Databases/Project/test/9_SystemRules.html"><u>System rules</u></a></li>
 </center>
</section>
</div>

<footer>
  <p>Made By Arbaz Mohammed for Databases project</p>
</footer>

</body>
</html>